node_modules
typechain
target
tests/test-runner/Cargo.lock
tests/dockerfile/nab.tar.gz
solidity/dist
orchestrator/bins
module/vendor

# IDE files
.idea/

#Hardhat files
cache
artifacts
*.test
*-stamp

