node_modules
typechain
target
tests/test-runner/Cargo.lock
tests/dockerfile/gravity.tar.gz
solidity/dist
orchestrator/bins

# IDE files
.idea/
module/vendor

#Hardhat files
cache
artifacts
*.test
*-stamp
